# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Build System/Scripts
!/.config
!/global.json
!NuGet.Config
!Directory.Build.props
!Directory.Build.targets
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

### Submodules
!/submodules

## GitHub specific
!.github/

## Assets
!assets/

## Thunderstore metadata
!thunderstore.toml

## Thunderstore Assets
!Thunderstore

## Solution
!SigurdLib.sln

### SigurdLib Projects
!/SigurdLib*
/SigurdLib*/[Bb]in
/SigurdLib*/[Oo]bj
/SigurdLib*/[Dd]ist

### MSBuildTasks Project
!/MSBuildTasks
/MSBuildTasks/[Bb]in
/MSBuildTasks/[Oo]bj

## Libraries
!/libs*

# Explicit exceptions/ignores
**.user
